/* Estilos para botones de agregar al carrito */
.btn-agregar-carrito {
background: #cccccc;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn-agregar-carrito:hover {
    background: #999999;
}
